includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    paths:
        - simple-wp-helpdesk/
    excludePaths:
        - simple-wp-helpdesk/vendor/
    bootstrapFiles:
        - vendor/szepeviktor/phpstan-wordpress/bootstrap.php
        - phpstan-bootstrap.php
        - phpstan-puc-stub.php
    scanDirectories:
        - simple-wp-helpdesk/vendor/
    # WordPress globals are not available in CLI context
    universalObjectCratesClasses:
        - wpdb
